<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BURGER BURGERS BURGERS</title>
</head>
<body>

<div class="col-xs-12">

    <div class="col-xs-6">
        {{#each burger}}
        {{#unless this.devoured}}
        <div class= "well">
            <form action="/update/{{this.id}}" method="POST">
            <input type="hidden" name="devoured" value="false">
            <button type="submit" class="btn btn-success" id="de">Devour!!!</button>
            </form>

            <p> {{ this.id }}.{{ this.burger_name }}</p>

        {{/unless}}
        {{/each}}
        </div>
    </div>

    <div class="col-xs-6">
        {{#each burger}}
        {{#if this.devoured}}
        <div class="well" id="eaten">
            <p>{{this.id}}. {{this.burger_name}}</p>
        </div>
        {{/if}}
        {{/each}}
    </div>
</div> 

<div class="row">
    <div class="col-xs-3"></div>
        <div class="col-xs-6">
            <form action="/" method="POST">
            <div class="form-group">
                <label for="input">Your Burger</label>
                <textarea type="text" class="form-control" name="input" placeholder="Your burger creation"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" id="submit">Submit</button>
            </form>
        </div>
        <div class="col-xs-3"></div>
    </div 
</div>
</body>
</html>